% my ($x) = @_;
<br />
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th width="10%">PASS ratio</th>
            <th>Distribution</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <%= $x<dist-lines> %>
    </tbody>
</table>